/* Generic */

.no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear_all {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Specific */

.blocker {
    height: 100%;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.9);
}

.overlay_background {
    position: relative;
    width: 600px;
    top: 20%;
    margin: auto;
    background: white;
    border-radius: 5px;
}

.overlay_header {
    width: 80%;
    height: 35px;
    margin: auto;
    padding-top: 10px;
}

.overlay_vertical_fill {
    width: 80%;
    height: 20px;
}

.wide_text { 
    color: black;
    font-size: 20px;
    letter-spacing: 20px;
    text-align: center;
}

#error_msg_holder {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 50px;
    margin-top: 50px;
    width: 100%;
}

#error_msg {
    position: relative;
    width: 300px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: auto;
    font-size: 18px;
    text-align: center;
} 

.credentials_box {
    float: left;
    height: 100%;
    width: 50%;
}

#open_overlay ul {
	position: relative;
	width: 80%;
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: auto;
	padding: 0;
	list-style: none;
    margin-bottom: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

	-webkit-perspective: 120px;
	   -moz-perspective: 120px;
	    -ms-perspective: 120px;
	     -o-perspective: 120px;
	        perspective: 120px;
}
#open_overlay ul li {
    padding: 16px;
    position: relative;
    color: #252525;
    font-size: 18px;
    z-index: 2;

    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}
#open_overlay ul li:not(:last-child) {
}

#open_overlay ul li:hover {
    background: #eee;
    cursor: pointer;
}


#open_overlay li .script_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inherit;
    width: 80%;
}

li .script_date {
    position: absolute;
    right: 0px;
    top: 16px;
}

.input_form {
}

.input_form form{
    width: 100%;
}

input {
    width: 100%;
}

.input_fields {
    width: 80%;
    margin: auto;
}

.buttons {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.buttons_one {
    //TODO: Find way to make this stretch properly;
    width: 150px;
}

.buttons_two {
    width: 300px;
}

.extended_button {
    background: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
    width:  100px;
    text-align: center;
    padding: 10px;
}

.extended_button:hover {
    cursor: pointer;
}

.scripts_list {
    background: red;
    position: relative;
    margin: auto;
    width: 80%;
    height: 100px;
    overflow: scroll;
}


#header {
    height: 30px;
    width: 100%;
    background: black;
    position: fixed;
    top: 0px;
    z-index: 2;
    color: white;
}

#header_title {
    text-align: center;
    width: 300px;
    margin: auto;
    top: 0px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.point_on_hover:hover {
    cursor: pointer;
}

#header_title span {
    white-space: nowrap;
}

.header_button {
    position: relative;
    display: inline-block;
    padding: 2px;
    background: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 10px;
    float: left;
    margin-top: 4px;
}

.header_button:hover {
    cursor: pointer;
}

#header_open_button {
    margin-left: 39px;
}

.header_tailing_button {
    margin-left: 1px;
}

#header_username {
    border: none;
    float: right;
    margin-top: 5px;
    margin-right: 1px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#header_sign_out_button {
    float: right;
    margin-right: 20px;
}

.deco_row {
    position: absolute;
    width: 100%;
    height: 1px;
}

#step_outer_bottom {
    bottom:0px;
    background: white;
}
#step_mid_bottom {
    bottom:1px;
    background: black;
}
#step_inner_bottom {
    bottom:2px;
    background: white;
}

.step_stamp {
    overflow: scroll;
    height: 100%;
}

#locations{
    font-size:72px;
    width:3000px;
    margin-left:100px;
    margin-top:30px;
}

#new_location {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 100%;
}

#add_location_container {
    position: relative;
    width: 100%;
    height: 100px;
}

#add_location {
    background: transparent;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 50px;
    width: 0;
    margin: -25px 0 0 -25px;
    top: 50%;
    left: 50%;
}

.location {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 100%;
}

.location_title_column {
    position: absolute;
}

.location_title {
    position: relative;
    top: 50%;
    color: #fff;
    // hardcoded;
    width: 0; 
    height: 10px;
    //text-shadow:1px 1px 0 #444444;
    z-index: 0;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.location_title:hover {
    cursor: pointer;
}

.location_title p {
    float: right;
    white-space: nowrap;
    font-weight: 100;
    font-size: 40px;
}

#step_panel {
    position: fixed;
    width: 100px;
    min-height: 100%;
    background: #000;
    color: #fff;
    margin-top: 30px;
    z-index: 1;
}

.step {
    // step panel is fixed at 100px width, save three for columns;
    width: 97px;
    min-height: 50px;
    padding: 0;
    margin: 0;
    background: white;
    color: black;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.deco_column {
    position: absolute;
    height: 100%;
    width: 1px;
}

#step_outer_right {
    right:0px;
    background: white;
}
#step_mid_right {
    right:1px;
    background: black;
}
#step_inner_right {
    right:2px;
    background: white;
}

/*
.step_actions {
    position: absolute;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    bottom: 0px;
    background-color: blue;
}
*/

.unit {
    background: #fff;
    //box-shadow: 2px 2px 1px #555; going for monochrome look;
    min-height: 100px;
    width:90%;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 10px;
    position: relative;
    z-index: 0;
}

.unit textarea{
    /*border: 1px solid gray;*/
    outline: none;
    border: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: courier;
    font-size:15px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    resize:none;
    overflow: hidden;
}

.unit_inactive {
    background: transparent;
    border: none;
    box-shadow: none;
}

.add_unit {
    background: transparent;
    color: white;
    position: absolute;
    text-align: center;
    font-size: 50px;
    width: 0;
    margin: -25px 0 0 -25px;
    top: 50%;
    left: 50%;
}

.unit_header {
    position: relative;
    top: 0px;
    height: 20px;
    font-size: 20px;
    color: black;
}

.unit_header:hover {
    cursor: pointer;
}

.unit_footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 20px;
    font-size: 20px;
    color: black;
}

.unit_footer:hover {
    cursor: pointer;
}

.unit_button {
    position: relative;
    display: inline-block;
    width:50%;
    height: 100%;
    text-align: center;
    color: black;
}

.close_unit {
}

.split_unit {
}

.grow_unit {
}

.shrink_unit {
}

.unit_divide {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    background: black;
}

.unit_divide_header {
    bottom: 0px;
}

.unit_divide_footer {
    top: 0px;
}

