.clear_all {
    margin: 0;
    padding: 0;
    border: 0;
}

#header {
    height: 35px;
    width: 100%;
    background: red;
    position: fixed;
    top: 0px;
    z-index: 2;
}

#header p {
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}

#locations{
    color:#212121;
    font-size:72px;
    width:3000px;
    margin-left:100px;
    margin-top:35px;
}

.location {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.location_title {
    position: absolute;
    background: #1f1f1f;
    padding: 5px;
    color: #fff;
    text-shadow:1px 1px 0 #444444;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    font-size: 12px;
}

#step_panel {
    position: fixed;
    width: 100px;
    height: 1000px;
    background: #1f1f1f;
    color: #fff;
    margin-top: 35px;
    z-index: 1;
}

.step {
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    background-color: green;
    margin-top: 10px;
}

.step_actions {
    position: absolute;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
    bottom: 0px;
    background-color: blue;
}

.unit {
    background: #fff;
    box-shadow: 2px 2px 1px #555;
    min-height: 50px;
    width:100%;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.unit textarea{
    /*border: 1px solid gray;*/
    outline: none;
    border: 0;
    width: 100%;
    font-family: courier;
    font-size:15px;
    padding: 0;
    margin-top: 5px;
    resize:none;
    overflow: hidden;
}
